<!-- 左边栏 -->

  
    <div class="accordion " id="accordionExample">
        <div class="card">
            <div class="card-header color">
                <a type="button" class="btn btn-link collapsed" <%= modalid%> href="/index">首页</a>
            </div>
        </div>
     
        <div class="card">
            <div class="card-header color" id="headingTwo">
                <a class="btn btn-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo"> 课程管理 </a>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="/application" <%= modalid%>>课程教室申请</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header color" id="headingThree">
                <h5 class="mb-0">
                    <a class="btn btn-link collapsed" href="#" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> 信息查询
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                data-parent="#accordionExample">
                <div class="card-body">
                    <a href="/cource" <%= modalid%>>课程查询</a>
                </div>
                 <div class="card-body">
                    <a href="/user" <%= modalid%>>用户查询</a>
                </div> 
                <div class="card-body">
                    <a href="/applicationlist"  <%= modalid%>>课程教室查询</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('modal.ejs')%>